/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
    
}
.left {
	position: initial;
	background-color:#6ba8d1;
	padding: 20px;
    /* text-align:justify; */

}
.right {
	position: initial;
	background-color:rgba(245, 243, 239, 0.986);
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .achievements {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
.fa-phone{
    text-align: right;
    color:black;
    text-decoration: none
}
/* .fa-location{
    text-transform: lowercase;
}
.fa-envelop{
    text-transform: lowercase;
}
.p{
    text-transform: capitalize;
} */
.image{
    text-align: center;
}
/* .listing{
    text-indent: 1cm;
} */
li{
    margin-left: 20px;
}
h5{
    margin-left: 10px;
    /* font-style: italic; */
}
.p1{
    text-align: justify;
}